body {
	font-size: 4vw;
}
ul {
	text-align:left;
	padding:5px;
	margin:1px;
	overflow: hidden;
}
li {
	text-align:left;
	padding:5px;
	margin:1px;
	overflow: hidden;
}
li:hover {  
	visibility: visible;
	background-color: maroon;
	color:beige;
}