/********************************/
/*            Main              */
/********************************/
@font-face {  font-family: afterLight;  src: url('font/alterlight.otf');}
@font-face {  font-family: balth;  src: url("font/balth.ttf") format("opentype")};
@font-face {  font-family: dejavu;  src: url('font/dejavusans.ttf') format("truetype");}
@font-face {  font-family: dejavu;  src: url('font/dejavusans-bold.ttf') format("truetype");  font-weight: bold;}
@font-face {  font-family: elicit;  src: url('font/elicitscript.otf') format("opentype");}

body {
  font-family: "dejavu", "sans-serif";
  font-size: 2vw;
  background-image: url('images/paper.jpg');
  background-origin: content-box;
}
/* Style the header */

img.stamp {	height: 4vw;	width: 4vw;}

/* Style the quotes to be more obviously quotations*/
blockquote,q {
	font-family: "elicit", "script";
	font-style: bold;
	background-image: url('images/page.png');
	margin:20px;
	padding:15px;
	background-position:center;
	box-shadow: 15px 15px 5px grey;
}
.citation { font-style: italic;	font-size: 1vw;}
a {	text-decoration:none;	color:black;}
a:hover { color: beige;	text-decoration:none;}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-device-width: 400px) {
  .navbar,.navbar-brand,a {
	  font-size: 5vw;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  height: 50%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

table.vis,tr.vis {	float:center;	margin-left: auto;	margin-right: auto;	border:groove 3px;	padding:.5%}
td.vis {	padding:10px;	border:none;}
th.vis {
	background-color:maroon;
	color: beige;
	margin:-1px;
	padding: 10px;	
}
tr.vis { border-bottom:groove 3px;}
tr.vis:hover {	background-color: rgba(0, 153, 204, .5);}
iframe{	border:none;}
img.portrait {
	height:35vw;
	float:right;
	padding: 3vw;
	margin: 1vw;
	border: solid black .5vw;
	background-image: url('images/bg 3.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	box-shadow: 5px 5px 5px grey;
	border-radius:5px;
}
.panel{
	background: transparent;
	border: solid .3vw;
	box-shadow: 5px 5px 3px grey;
	margin:.3vw;
}
.panel-success {  width:24.3%; font-size: 1.5vw; text-align: center;}
.panel-info {  width:24.3%; font-size: 1.5vw; text-align: center;}
.panel-warning {  width:24.3%; font-size: 1.5vw; text-align: center;}
.panel-body {	font-size: 1vw; min-height:15vw; text-align: left;}
.panel-body.sub {	font-size: 1vw; min-height:1vw; text-align: left;}
.panel-group {    width: 100%;  }
.panel-heading.book {
	min-height:5.5vw;
}
.panel-footer {
	background:transparent;
	height:3vw;
}
.phb {
	background-image: url('images/banners/bannerphb.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.dmg {
	background-image: url('images/banners/bannerdmg.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.mm {
	background-image: url('images/banners/bannermm.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.ftod {
	background-image: url('images/banners/bannerftod.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.egtw {
	background-image: url('images/banners/banneregtw.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.erftlw {
	background-image: url('images/banners/bannerERftLW.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.ggtr {
	background-image: url('images/banners/bannerggtr.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.mcv1 {
	background-image: url('images/banners/bannermcv1.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.mcv2 {
	background-image: url('images/banners/bannermcv2.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.mffv1 {
	background-image: url('images/banners/bannermffv1.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.moot {
	background-image: url('images/banners/bannermoot.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.mtof {
	background-image: url('images/banners/bannermtof.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.motm {
	background-image: url('images/banners/bannermotm.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.sais {
	background-image: url('images/banners/bannersais.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.scag {
	background-image: url('images/banners/bannerscag.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.scoc {
	background-image: url('images/banners/bannerscoc.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.tort {
	background-image: url('images/banners/bannertort.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.vecna {
	background-image: url('images/banners/bannervecna.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.vgtm {
	background-image: url('images/banners/bannervgtm.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.vrgtr {
	background-image: url('images/banners/bannervrgtr.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.wgte {
	background-image: url('images/banners/bannerwgte.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.tcoe {
	background-image: url('images/banners/bannertcoe.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
.oga {
	background-image: url('images/banners/banneroga.png');
	background-size: 8vw auto;
	background-repeat: no-repeat; 
	background-position: bottom left;
}
