/********************************/
/*            Main              */
/********************************/

body {
  font-family: sans-serif;
  font-size: 2em;
  background-image: url('images/paper.jpg');
  background-origin: content-box;
}
p::first-letter { font-family: fantasy;}
iframe { height:400vh; width:100%; border:none; margin-top:5vw; }
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;}

h1.cls{
  text-align:center;
  font-family: papyrus;
  font-weight:bold;
  }
button{
	background-color: mediumseagreen;
	border: outset 5px mediumseagreen;
	border-radius: 5px;
}
button:active {
	border: inset 5px mediumseagreen;
}
.roll{
	border:groove 2px transparent;
	border-bottom:groove 2px;
	text-align:right;
	background: transparent;
	height: 2vh;
	width: 4vw;
}
/* Style the links*/
a { text-decoration:none;	color:black;}
a:link { color: black; text-decoration:none;}
a[target="content"] {  font-family: sans-serif;  font-size: 1.5em;  }
a[data-toggle="dropdown"] { font-family: sans-serif;  font-size: 1em;  }
a.menu {  font-family: sans-serif;  font-size: 1em;  color:white;}
a.menu:link {  font-family: sans-serif;  font-size: 1em;  color:white;}

/* Style the tabs*/
.nav-tabs{
  font-family: sans-serif;
  font-size: 1em;
}
ul.nav-tabs li{
  border: solid 5px;
  border-image: url('images/box empty.png') 35 round;
  padding: -10px;
}
.tab-pane{
	border: solid 5px;
    border-image: url('images/box empty.png') 35 round;
	padding: 1.5vw;
}
li.active {	background-color: thistle;}
/* Style the images*/
img.stamp {	height: auto;	width: 4vw;}
img.portrait {
	height:35vw;
	float:right;
	border: solid white .5vw;
	background-image: url('images/bg 3.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	border-radius:5px;
}
figure {
	float:right;
	box-shadow: 5px 5px 5px grey;
  margin: auto;
}

figcaption {
  background-color: white;
  color: black;
  font-style: italic;
  padding: 1px;
  text-align: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  /* .navbar,.navbar-brand,a {
	  font-size: 1.5em;
  } */
  iframe{
	  margin-top: 15vh;
  }
  body {
    background-color: lightgreen;
	background-image:none;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: linen;
	background-image:none;
  }
  iframe{
	  margin-top: 15vh;
  }
  div[class*="panel"] {
    width: 100%;
  }
}
/* Style tables*/
table { border-collapse: collapse;}

table.vis,tr.vis {	float:center;	margin-left: auto;	margin-right: auto;	border:solid 1px;	padding:.5%}
td.vis {	padding:10px;	border:none;}
th.vis {
	background-color:maroon;
	color: beige;
	margin:-1px;
	padding: 10px;	
}
tr.vis:hover {	background-color: darksalmon; opacity: .9;}

table.cls {	float:center;	width: 95%; margin-left: auto;	margin-right: auto;	border:solid 1px;	padding:.5%;}
table.cls tr:nth-child(even) {background-color: rgba(222, 184, 135,.5);}
table.cls tr:nth-child(odd) {background-color: rgba(255, 228, 196,.5);}
table.cls td {	padding:5px;}
table.cls th {	background-color:white;	padding: 5px;	}
table.cls tr:hover {	background-color: thistle;}

/* Style popovers*/
.pop {
	color:maroon;
	font-weight: bold;
	text-decoration: underline;
}
.pop:hover{
	color:green;
	font-weight: bold;
	text-decoration: underline;
}

/* Style Panel*/
.panel{
	background: transparent;
	border: solid .3vw transparent;
    border-image: url('images/box empty.png') 35 round;
	box-shadow: 5px 5px 3px grey;
	margin:.3vw;
}
.panel-success {  width:24.3%; font-size: 1.5em; text-align: center;}
.panel-info {  width:24.3%; font-size: 1.5em; text-align: center;}
.panel-warning {  width:24.3%; font-size: 1.5em; text-align: center;}
.panel-body {	font-size: 1em; min-height:15vw; text-align: left;}
.panel-body.sub {	font-size: 1em; min-height:1vw; text-align: left;}
.panel-group {    width: 100%;  }
.panel-footer { text-align: right; background-color: rgba(222, 184, 135,.2); height:3vw; margin:0vw; margin-top:.5vw;}
.panel-heading.book {
	font-family: fantasy;
	font-size:.6em;
	min-height:5.5vw;
}
.panel-heading.book + .panel-body {	font-size:.6em; }
/* Add banners to the background*/
.phb {	background: url('images/banners/bannerphb.png') no-repeat bottom left;	background-size: 8vw auto;}
.dmg {	background: url('images/banners/bannerdmg.png') no-repeat bottom left;	background-size: 8vw auto;}
.mm {	background: url('images/banners/bannermm.png') no-repeat bottom left;	background-size: 8vw auto;}
.ftod {	background: url('images/banners/bannerftod.png') no-repeat bottom left;	background-size: 8vw auto;}
.egtw {	background: url('images/banners/banneregtw.png') no-repeat bottom left;	background-size: 8vw auto;}
.erftlw {background: url('images/banners/bannerERftLW.png') no-repeat bottom left;	background-size: 8vw auto;}
.ggtr {	background: url('images/banners/bannerggtr.png') no-repeat bottom left;	background-size: 8vw auto;}
.mcv1 {	background: url('images/banners/bannermcv1.png') no-repeat bottom left;	background-size: 8vw auto;}
.mcv2 {	background: url('images/banners/bannermcv2.png') no-repeat bottom left;	background-size: 8vw auto;}
.mffv1 {	background: url('images/banners/bannermffv1.png') no-repeat bottom left;	background-size: 8vw auto;}
.moot {	background: url('images/banners/bannermoot.png') no-repeat bottom left;	background-size: 8vw auto;}
.mtof {	background: url('images/banners/bannermtof.png') no-repeat bottom left;	background-size: 8vw auto;}
.motm {	background: url('images/banners/bannermotm.png') no-repeat bottom left;	background-size: 8vw auto;}
.sais {	background: url('images/banners/bannersais.png') no-repeat bottom left;	background-size: 8vw auto;}
.scag {	background: url('images/banners/bannerscag.png') no-repeat bottom left;	background-size: 8vw auto;}
.scoc {	background: url('images/banners/bannerscoc.png') no-repeat bottom left;	background-size: 8vw auto;}
.tort {	background: url('images/banners/bannertort.png') no-repeat bottom left;	background-size: 8vw auto;}
.vecna {	background: url('images/banners/bannervecna.png') no-repeat bottom left;	background-size: 8vw auto;}
.vgtm {	background: url('images/banners/bannervgtm.png') no-repeat bottom left;	background-size: 8vw auto;}
.vrgtr {	background: url('images/banners/bannervrgtr.png') no-repeat bottom left;	background-size: 8vw auto;}
.wgte {	background: url('images/banners/bannerwgte.png') no-repeat bottom left;	background-size: 8vw auto;}
.tcoe {	background: url('images/banners/bannertcoe.png') no-repeat bottom left;	background-size: 8vw auto;}
.oga {	background: url('images/banners/banneroga.png') no-repeat bottom left;	background-size: 8vw auto;}
