/********************************/
/*            Main              */
/********************************/
@font-face {  font-family: afterLight;  src: url('font/alterlight.otf');}
@font-face {  font-family: balth;  src: url('font/balth.ttf');}
@font-face {  font-family: dejavu;  src: url('font/dejavusans.ttf');}
@font-face {  font-family: dejavu;  src: url('font/dejavusans-bold.ttf');  font-weight: bold;}
@font-face {  font-family: elicit;  src: url('font/elicitscript.otf');}

* {  box-sizing: border-box;}

body {
  background-image: url('images/paper.jpg');
  background-repeat: repeat;
  background-color:tan;
  font-family: dejavu, sans;
  font-size: 2vw;
}
/* Style the header */
.header {  
  font-family: balth, veranda;
  padding: 20px;
  text-align: center;
  background: transparent;
  font-size: 2.5vw;
}
.subheader {  
  font-family: balth, veranda;
  text-align: center;
  margin-bottom:-10px;
  margin-top:-10px;
  font-size: 5vw;
}

/* Style the top navigation bar */
.topnav {
  font-family: balth, arial;
  overflow: hidden;
  text-align: center;
  background: transparent;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: beige;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  background-color: maroon;
  border: outset 5px maroon;
  border-bottom: none;
  border-radius: 15px;
  margin-bottom:-10px;
}

/* Change color on hover */
.topnav a:hover {
  border: inset 5px maroon;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  height:fit-content;
  background-image: url('images/paper.jpg');
}
/* Left and right column */
.column .side {
  width: 25%;
  min-height: 900px;
  height:fit-content;
  border: outset 7px maroon;
  background: transparent;
  overflow:auto;
}

/* Middle column */
.column.middle {
  width: 75%;
  min-height: 900px;
  height:auto;
  border: outset 7px maroon;
  overflow:auto;
}
/* cards */
.column.card {
  width: 33%;
  border: outset 7px maroon;
  border-radius:5px;
  min-height:500px;
  max-height:500px;
  background: transparent;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  background: transparent;
}

img.stamp {	height: 60px;	width: 60px;}

/* Style the quotes to be more obviously quotations*/
blockquote,q {
	font-family: elicit, script;
	font-style: bold;
	background-image: url('images/page.png');
	margin:20px;
	padding:15px;
	background-position:center;
	box-shadow: 15px 15px 5px grey;
}
.citation { font-style: italic;	font-size: 1vw;}
a {	text-decoration:none;	color:black;}
a:hover { color: beige;	text-decoration:none;}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  height: 50%;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  width:300px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {  visibility: visible;}
table.vis,tr.vis {	float:center;	margin-left: auto;	margin-right: auto;	border:groove 3px;	padding:.5%}
td.vis {	padding:10px;	border:none;}
th.vis {
	background-color:maroon;
	color: beige;
	margin:-1px;
	padding: 10px;	
}
tr.vis { border-bottom:groove 3px;}
tr.vis:hover {	background-color: rgba(0, 153, 204, .5);}
iframe{	border:none;}

img.portrait {
	height:35vw;
	float:right;
	padding: 3vw;
	margin: 1vw;
	border: solid black .5vw;
	background-image: url('images/bg 3.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	box-shadow: 5px 5px 5px grey;
	border-radius:5px;
}