/********************************/
/*            Main              */
/********************************/

body {
  font-family: sans-serif;
  font-size: 2vw;
  background-image: url('images/paper.jpg');
  background-origin: content-box;
}
p::first-letter { font-family: fantasy;}
iframe { height:400vh; width:100%; border:none; margin-top:5vw; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  height: 50%;
}

/* Style the links*/
a { text-decoration:none;	color:black;}
a:link { color: black;	text-decoration:none;}
a:link { color: black;	text-decoration:none;}
a:hover { color: black;	text-decoration:none;}


/* Style the tabs*/
.nav-tabs{
  font-family: sans-serif;
  font-size: 1vw;
}
ul.nav-tabs li{
  border: solid 5px;
  border-image: url('images/box empty.png') 35 round;
  padding: -10px;
}
.tab-pane{
	border: solid 5px;
    border-image: url('images/box empty.png') 35 round;
	padding: 1.5vw;
}

/* Style the images*/
img.stamp {	height: auto;	width: 4vw;}
img.portrait {
	height:35vw;
	float:right;
	padding: 3vw;
	margin: 1vw;
	border: solid black .5vw transparent;
    border-image: url('images/box empty.png') 35 round;
	background-image: url('images/bg 3.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	box-shadow: 5px 5px 5px grey;
	border-radius:5px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-device-width: 400px) {
  .navbar,.navbar-brand,a {
	  font-size: 5vw;
  }
}

/* Style tables*/
table.vis,tr.vis {	float:center;	margin-left: auto;	margin-right: auto;	border:groove 3px;	padding:.5%}
td.vis {	padding:10px;	border:none;}
th.vis {
	background-color:maroon;
	color: beige;
	margin:-1px;
	padding: 10px;	
}
tr.vis:hover {	background-color: darksalmon; opacity: .9;}

/* Style popovers*/
.pop {
	color:maroon;
	font-weight: bold;
	text-decoration: underline;
}
.pop:hover{
	color:green;
	font-weight: bold;
	text-decoration: underline;
}

/* Style Panel*/
.panel{
	background: transparent;
	border: solid .3vw transparent;
    border-image: url('images/box empty.png') 35 round;
	box-shadow: 5px 5px 3px grey;
	margin:.3vw;
}
.panel-success {  width:24.3%; font-size: 1.5vw; text-align: center;}
.panel-info {  width:24.3%; font-size: 1.5vw; text-align: center;}
.panel-warning {  width:24.3%; font-size: 1.5vw; text-align: center;}
.panel-body {	font-size: 1vw; min-height:15vw; text-align: left;}
.panel-body.sub {	font-size: 1vw; min-height:1vw; text-align: left;}
.panel-group {    width: 100%;  }
.panel-heading.book {
	font-family: fantasy;
	min-height:5.5vw;
}
.panel-footer {
	background:transparent;
	height:3vw;
}

/* Add banners to the background*/
.phb {	background: url('images/banners/bannerphb.png') no-repeat bottom left;	background-size: 8vw auto;}
.dmg {	background: url('images/banners/bannerdmg.png') no-repeat bottom left;	background-size: 8vw auto;}
.mm {	background: url('images/banners/bannermm.png') no-repeat bottom left;	background-size: 8vw auto;}
.ftod {	background: url('images/banners/bannerftod.png') no-repeat bottom left;	background-size: 8vw auto;}
.egtw {	background: url('images/banners/banneregtw.png') no-repeat bottom left;	background-size: 8vw auto;}
.erftlw {background: url('images/banners/bannerERftLW.png') no-repeat bottom left;	background-size: 8vw auto;}
.ggtr {	background: url('images/banners/bannerggtr.png') no-repeat bottom left;	background-size: 8vw auto;}
.mcv1 {	background: url('images/banners/bannermcv1.png') no-repeat bottom left;	background-size: 8vw auto;}
.mcv2 {	background: url('images/banners/bannermcv2.png') no-repeat bottom left;	background-size: 8vw auto;}
.mffv1 {	background: url('images/banners/bannermffv1.png') no-repeat bottom left;	background-size: 8vw auto;}
.moot {	background: url('images/banners/bannermoot.png') no-repeat bottom left;	background-size: 8vw auto;}
.mtof {	background: url('images/banners/bannermtof.png') no-repeat bottom left;	background-size: 8vw auto;}
.motm {	background: url('images/banners/bannermotm.png') no-repeat bottom left;	background-size: 8vw auto;}
.sais {	background: url('images/banners/bannersais.png') no-repeat bottom left;	background-size: 8vw auto;}
.scag {	background: url('images/banners/bannerscag.png') no-repeat bottom left;	background-size: 8vw auto;}
.scoc {	background: url('images/banners/bannerscoc.png') no-repeat bottom left;	background-size: 8vw auto;}
.tort {	background: url('images/banners/bannertort.png') no-repeat bottom left;	background-size: 8vw auto;}
.vecna {	background: url('images/banners/bannervecna.png') no-repeat bottom left;	background-size: 8vw auto;}
.vgtm {	background: url('images/banners/bannervgtm.png') no-repeat bottom left;	background-size: 8vw auto;}
.vrgtr {	background: url('images/banners/bannervrgtr.png') no-repeat bottom left;	background-size: 8vw auto;}
.wgte {	background: url('images/banners/bannerwgte.png') no-repeat bottom left;	background-size: 8vw auto;}
.tcoe {	background: url('images/banners/bannertcoe.png') no-repeat bottom left;	background-size: 8vw auto;}
.oga {	background: url('images/banners/banneroga.png') no-repeat bottom left;	background-size: 8vw auto;}
