<!DOCTYPE html>
<html><head>
		<meta charset="UTF-8"><!-- define the character set-->
		<link rel="stylesheet" href="../../style.css"><!--link the stylesheet-->
		<link rel="icon" type="image/x-icon" href="../../images/virus.ico"><!-- set the favicon-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home Content</title><!--set the title-->
	</head>
	<body>
		<h1 class="header" style="font-size:10vw">Race Traits</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla urna porttitor rhoncus dolor purus. Tortor aliquam nulla facilisi cras fermentum. Nulla at volutpat diam ut venenatis tellus in. Erat pellentesque adipiscing commodo elit at imperdiet dui.</p>
		<ul  style="float:left; list-style-type:none;width:150px;">
			<li><img src="../../images/stats/box empty.png" class="stamp"></li>
			<li><img src="../../images/stats/speed30.png" class="stamp"></li>
			<li><img src="../../images/stats/med.png" class="stamp"></li>
			<li><img src="../../images/stats/box empty.png" class="stamp" style="visibility:hidden;"></li>
		</ul>
		<ul><img class="portrait" src="../../images/ItemsCards_22_t.png">
			<li><strong>Age.</strong> </li>
			<li><strong>Trait.</strong> Detail</li>
			<li><strong>Trait.</strong> Detail</li>
			<li><strong>Trait.</strong> Detail</li>
			<li><strong>Languages.</strong> Detail</li>
		</ul>
	<div>
			<p></p>
			<P><img class="center" src="../../images/hr.png" style="max-width:50%;"></p>
			<P class="subheader" style="text-align:center;"><strong>Subrace</strong></p>
			<p><img class="center" src="../../images/hr.png" style="max-width:50%; transform:rotate(180deg);"></p>
			<p><ul></li><embed type="text/html" src="../../subrace disclaimer.htm" width="100%" height="150vw"></li></ul></p>
	<div class="row">
			<iframe class="column card" name="1" src="cardtemplate.htm" style="border:none;"></iframe>
			<iframe class="column card" name="2" src="cardtemplate.htm" style="border:none;"></iframe>
			<iframe class="column card" name="2" src="cardtemplate.htm" style="border:none;"></iframe>
	</div>
	</div>
</body></html>